body {
    margin: 0;
    height: 100vh;
}

.h-10 {
    height: 10%;
}

.h-20{
    height: 20%;
}

.h-90 {
    height: 90%;
}

.h-80{
    height: 80%;
}

.chat-info-menu {
    width: 75vw;
    height: 90vh;

}

img {
    object-fit: cover;
    height:40px;

}

#notOnline, #online {
    color: green;
}

#notFavourite, #favourite {
    color: yellow;
}

.back-arrow {
    font-size: 48px; 
}

.bk-l-green {
    background-color: #e2f0d9;
}

@media (min-width: 600px) {
    .chat-info-menu {
        width: 25vw;
        height: 90vh;
    
    }
}